/************************************
 * 
 * ##################################
 * # Javascript Custom Confirmation #
 * ##################################
 * 
 * Author     : Mohammad Kawser
 * Author URI : http://kawser.info 
 * 
 ************************************/

input, button{
    outline: none;
}

#confirm_background{
    display: none;
    opacity: 0.75;
    position: fixed;
    top: 0;
    left: 0;
    background: #9e9e9e;
    width: 100%;
    z-index: 10;
}

#confirm_box{
    display: none;
    position: fixed;
    background: #ebecf5;
    border-radius: 2px;
    width: 400px;
    z-index: 10;
    border: 1px solid #c3c3c3;
    box-shadow: 0px 0px 12px 1px #151515;
}

#confirm_box_head{
    height: 24px;
    line-height: 24px;
    background: linear-gradient(#ececec, #c1c1c1 75%, #969595);
    border-bottom: 1px solid #636262;
    font-family: arial;
    font-size: 12px;
    color: #2d2d2d;
    padding-left: 3px;
}

#confirm_box_body{
    min-height: 50px;
    padding: 8px 16px;
    font-family: Tahoma;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    color: #232323;
}

#confirm_box_footer{
    margin-bottom: 12px;
    text-align: center;
}

#confirm_box_footer button{
    height: 26px;
    width: 100px;
    cursor: pointer;
}

#confirm_box_footer button[id="yes"]{
    background: linear-gradient(#e5ebf1, #94c2f1, #edeff3);
    color: #3a3a3a;
    border: 1px solid #80b8f3;
    border-radius: 26px;
    box-shadow: 0px 1px 3px 1px #d7d8e6;
    margin-right: 3px;
}

#confirm_box_footer button[id="no"]{
    border-radius: 26px;
    background: linear-gradient(#efefef, #bfbfbf, #f3f3f3);
    border: 1px solid #bdbdbd;
    box-shadow: 0px 1px 3px 1px #dedddd;
    margin-left: 3px;
}