html, body{
	background: #b94a3e;
}
a:hover{
	text-decoration: none;
}
input{
    outline: none;
}
#login_box{
    background: linear-gradient(45deg, #b55349, #a25a52);
    width: 325px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #a02518;
    border-radius: 4px;
    padding: 8px;
    margin-top: 50px;
    box-shadow: 0px 0px 18px -6px #000000;
}

.s_msg, .e_msg{
    background: #f5f5f5;
    height: 28px;
    line-height: 27px;
    padding-left: 4px;
    border: 1px solid #4c4c4c;
    border-radius: 4px;
    font-family: Tahoma;
    font-size: 12px;
}
.s_msg{
    color: #1a8c63;
    text-shadow: 1px 1px 1px #e2e2e2;
}
.e_msg{
    color: #b94a3e;
    text-shadow: 1px 1px 1px #e2e2e2;
}

#login_box h1{
	margin: 0; padding: 0;
    text-align: center;
    font-size: 22px;
    font-family: Tahoma;
    color: #e2e1e4;
    text-shadow: 1px 1px 1px #272727;
}
#login_box label{
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    font-family: corbel;
    color: #e6e6e6;
}
#login_box input[type="email"], #login_box input[type="password"]{
    width: 180px;
    height: 22px;
    background: linear-gradient(to top, #d4d3ff, #e5f8ff);
    border: 1px solid #983b31;
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 12px;
    font-family: Arial;
    transition: 0.3s;
}
#login_box input[type="email"]:focus, #login_box input[type="password"]:focus{
    box-shadow: 0px 0px 4px 1px #a9463c;
}
#login_box input[type="submit"]{
	display: block;
    margin-top: 15px;
    width: 75px;
    line-height: 18px;
    border: 1px solid #505056;
    background: linear-gradient(to top, #a1a3e2, #cfd6ff);
    color: #1f1f1f;
    border-radius: 4px;
    font-family: corbel;
}