/* 
    Created on : Jan 21, 2017, 12:03:37 PM
    Author     : Mohammad Kawser
*/

@media screen and (max-width: 830px){
    nav{
        display: none;
    }
    nav ul li {
        float: none;
        width: 100%;
        border-right: none;
        border-left: none;
        line-height: 35px;
        text-align: left;
        display: block;
        border-bottom: 1px solid #565656;
    }
    nav ul li:last-child{
        border-bottom: 0px solid white;
    }
    nav ul li a {
        padding-left: 6px;
        font-size: 16px;
    }
    #show_menu{
        display: block;
    }
}