/*		Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) 
{
    header .header_left{ text-align: center; }
    header .header_right{ padding-right: 0px; text-align: center; line-height: 40px; border-top: 1px solid #616161;} 
    header .header_right a{ margin-left: 6px; margin-right: 6px;}
}



/*		Mobile Layout: 320px. */

@media only screen and (max-width: 767px) 
{
    #maincontainer{}
    #home_content{padding-top: 0px; padding-bottom: 0px; }
    header .header_left{ text-align: center; }
    header .header_right{ padding-right: 0px; text-align: center; line-height: 40px; border-top: 1px solid #616161;} 
    header .header_right a{ margin-left: 6px; margin-right: 6px;}
    .home_box{ width: 80%; height: 135px; line-height: 135px; margin-bottom: 12px;}
    .home_box a{ font-size: 18px; }
}


/*		Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) 
{
    #maincontainer{margin-top: 0px;}
    #home_content{padding-top: 0px; padding-bottom: 0px; }
    header .header_left{ text-align: center; }
    header .header_right{ padding-right: 0px; text-align: center; line-height: 40px; border-top: 1px solid #616161; } 
    header .header_right a{ margin-left: 6px; margin-right: 6px;}
    .home_box{ width: 60%; height: 135px; line-height: 135px; margin-bottom: 12px; }
    .home_box a{ font-size: 30px; }
}
	
	

