html, body{
	background: #b94a3e;
}
a:hover{
	text-decoration: none;
}
input, textarea, select, option{
    outline: none;
}
header{
    min-height: 130px;
}
header .header_left{
    
}
header .header_left img{
    height: 125px;
    vertical-align: middle;
    padding: 4px;
}
.header_left h1.header_title{
    margin: 0;
    padding: 0;
    display: inline-block;
    font-family: corbel;
    font-size: 38px;
    text-transform: uppercase;
}
.header_left h1.header_title a{
    color: #e4e4e4;
    text-shadow: 1px 1px 1px #505050;
}
header .header_right{
    line-height: 130px;
    text-align: right;
    padding-right: 2px;
}
header .header_right a{
    color: white;
    font-family: corbel;
    font-size: 16px;
    margin-left: 12px;
    text-shadow: 1px 1px #773b35;
}
#maincontainer{
    margin-bottom: 50px;
    border: 1px solid #712c25;
    background: #a23f35;
    box-shadow: 0px 0px 8px 2px #6b4945;
    border-radius: 0px;
}

h2.title_two{
margin: 0;
    padding: 0;
    text-align: center;
    font-family: Tahoma;
    background: linear-gradient(#903930, #a23f35 90%, #b94a3e);
    color: #eaeaea;
    font-size: 18px;
    border: 1px solid #712c25;
    border-radius: 4px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    line-height: 38px;
}

h3.title_three{
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
}
h4.title_four{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: verdana;  
}

nav{
	min-height: 76px;
    background: #a23f35;
	border-bottom: 1px solid black;
}
nav ul{
	margin: 0; padding: 0;
	list-style: none;
}
nav ul li{
	float: left;
    width: 135px;
    border-right: 1px solid #673131;
    border-left: 1px solid #ad6861;
    line-height: 75px;
    text-align: center;
    display: inline-block;
}
nav ul li:first-child{
	border-left: none;
}
nav ul li:last-child{
	border-right: none;
}
nav ul li:last-child span{
	width: 1px;
	display: block;
	background: blue;
}
nav ul li a{
	display: block;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 4px black;
    font-family: verdana;
    font-size: 18px;
    font-weight: normal;
    transition: 0.3s;
}
nav ul li a:hover{
    color: white;
    background: #a53a2f;
    margin-left: -1px;
    box-shadow: 0px 2px 3px 1px #822f27;
}
#show_menu, #close_menu{
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    background: #90342a;
    color: #ececec;
    text-shadow: 1px 1px 1px #4c4c4c;
    font-family: verdana;
    cursor: pointer;
    display: none;
}
#container{
    padding-top: 25px;
    padding-bottom: 25px;
}
#home_content{
    padding-top: 75px;
    padding-bottom: 75px;
}
/*Home box*/
.home_box{
    background: #333333;
    border-radius: 2px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    height: 175px;
    text-align: center;
    line-height: 175px;
}
.home_box a{
    border-radius: 2px;
    font-size: 65px;
    text-transform: uppercase;
    font-family: Tahoma;
    color: white;
    text-shadow: 1px 1px 1px black;
    display: block;
    transition: 0.3s;
}
.home_box a:hover{
    border: none;
    box-shadow: 0px 0px 6px 2px #793028;
}

/*Form Inline*/
.basic_form{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.basic_form #inventory_head{
    text-align: center;
    border-bottom: 1px solid #383838;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.basic_form #inventory_head #part, .basic_form #inventory_head #part2{
    display: inline-block;
}

.basic_form #inventory_head label{
    display: block;
    font-size: 15px;
    color: #d4d4d4;
    text-shadow: 1px 1px #353535;
    font-family: corbel;
    margin-right: 8px;
}
.basic_form #inventory_head #part2 label{
    margin-right: 40px;
}
.basic_form #inventory_head select, .basic_form #inventory_head input[type="text"]{
    min-width: 165px;
    height: 24px;
    border: 1px solid #696969;
    background: linear-gradient(to top, #cccccc, #e5f8ff);
    border-radius: 4px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 12px;
    margin-left: 6px;
    position: relative;
    top: -3px;
    display: block;
}
.basic_form #inventory_head #category_options,
.basic_form #inventory_head #brand_options,
.basic_form #inventory_head #product_options,
.basic_form #inventory_head #supplier_options,
.basic_form #inventory_head #buyer_options{
    text-align: center;
    margin-left: 6px;
    width: 165px;
    background: linear-gradient(to top, #cccccc, #e5f8ff);
    max-height: 50px;
    overflow: auto;
    display: none;
}
.basic_form #inventory_head #category_options option,
.basic_form #inventory_head #brand_options option,
.basic_form #inventory_head #product_options option,
.basic_form #inventory_head #supplier_options option,
.basic_form #inventory_head #buyer_options option{
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.basic_form #inventory_head select option{
    
}
.basic_form #inventory_head input[type="radio"]{
    position: relative;
}
.basic_form #inventory_head input[type="date"]{
    width: 130px;
    height: 24px;
    border: 1px solid #696969;
    background: linear-gradient(to top, #cccccc, #e5f8ff);
    border-radius: 4px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 12px;
    margin-left: 6px;
    position: relative;
    top: -3px;
}
.hide{
    display: none;
}
.show{
    display: block;
}

.basic_form .form_section{
    
    padding: 4px;
}
.basic_form .form_section label{
    margin: 0; padding: 0;
    margin-top: 6px;
    display: block;
    font-size: 14px;
    color: #f1f1f1;
    text-shadow: 1px 1px black;
    font-weight: normal;
}
.basic_form .form_section input[type="text"], .basic_form .form_section input[type="file"]
, .basic_form .form_section input[type="number"], .basic_form .form_section input[type="date"]{
    width: 220px;
    height: 26px;
    border: 1px solid #696969;
    background: linear-gradient(to top, #cccccc, #e5f8ff);
    border-radius: 4px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 14px;
}
.basic_form .form_section #buyer_options{
    text-align: center;
    width: 218px;
    background: linear-gradient(to top, #cccccc, #e5f8ff);
    max-height: 50px;
    overflow: auto;
    display: none;
}
.basic_form .form_section #buyer_options option{
    border-bottom: 1px solid grey;
    cursor: pointer;
}
.basic_form .form_section textarea{
    width: 260px;
    height: 78px;
    border: 1px solid #696969;
    background: linear-gradient(to top, #cccccc, #e5f8ff);
    border-radius: 4px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 12px;
}
.basic_form .form_section input[type="submit"]{
    width: 100px;
    line-height: 20px;
    background: linear-gradient(to top, #97a3b5, #c8f1ff);
    border: 1px solid #585858;
    border-radius: 4px;
    font-family: corbel;
    font-size: 13px;
    font-weight: bold;
    color: #424242;
}

/*Radio Style*/

input[type="radio"]:not(old){
    width   : 28px;
    margin  : 0;
    padding : 0;
    opacity : 0;
}
input[type="radio"]:not(old) + label{
    display      : inline-block;
    margin-left  : -28px;
    padding-left : 24px;
    background   : url('../images/checkbox_no.png') no-repeat 0 0;
    background-position: 4px 3px;
}
input[type="radio"]:not(old):checked + label{
    background: url('../images/checkbox_yes.png') no-repeat 0 0;
    background-position: 0px -1px;
}



/*Custom error and success message*/
.s_msg, .e_msg{
    background: #f5f5f5;
    height: 28px;
    line-height: 27px;
    padding-left: 4px;
    border: 1px solid #4c4c4c;
    border-radius: 4px;
    font-family: Tahoma;
    font-size: 12px;
}
.s_msg{
    color: #1a8c63;
    text-shadow: 1px 1px 1px #e2e2e2;
}
.e_msg{
    color: #b94a3e;
    text-shadow: 1px 1px 1px #e2e2e2;
}

/*Product form*/
.simple_form{
    padding: 25px;
}
.simple_form label{
    display: block;
    color: #dedede;
    font-weight: normal;
    font-family: corbel;
    margin: 0;
    padding: 0;
    margin-top: 8px;
}
.simple_form input[type="text"], .simple_form input[type="email"], .simple_form input[type="password"],
.simple_form input[type="file"]{
    height: 22px;
    background: linear-gradient(to top, #cafffd, #c1dfe0);
    border: 1px solid #3d5a5a;
    border-radius: 3px;
    font-size: 12px;
    width: 175px;
    padding-left: 2px;
}
.simple_form textarea{
    background: linear-gradient(to top, #cafffd, #c1dfe0);
    border: 1px solid #3d5a5a;
    border-radius: 3px;
    font-size: 12px;
    padding: 2px;
    resize: none;
    width: 265px;
    height: 75px;
}
.simple_form input[type="submit"]{
    display: block;
    line-height: 16px;
    width: 50px;
    margin-top: 4px;
    background: linear-gradient(to top, #cafffd, #c1dfe0);
    border: 1px solid #3d5a5a;
    border-radius: 3px;
    font-size: 12px;
}
.basic_table{
    padding: 25px 0px;
}
.basic_table table{
    width: 100%;
    
    border-collapse: collapse;
}
.basic_table table tr{
    
}
.basic_table table tr th:first-child, .basic_table table tr td:first-child{
    min-width: 70%;
}
.basic_table table tr td:last-child{
    text-align: center;
}
.basic_table table tr th, .basic_table table tr td{
    border: 1px solid #794f4f;
}
.basic_table table tr th{
    text-align: center;
    height: 36px;
    background: #254d65;
    color: white;
    font-family: corbel;
}
.basic_table table tr td{
    padding-left: 3px;
    height: 32px;
    background: #f3f3f3;
    font-family: monospace;
    font-weight: bold;
}
.basic_table table tr td.product_image{
    width: 100%;
    height: 45px;
    display: block;
    vertical-align: middle;
}
.basic_table table tr td a#view{
    padding: 3px 8px;
    background: #215453;
    color: #e2e2e2;
    border: 1px solid #164a49;
    border-radius: 3px;
    font-size: 12px;
}
.basic_table table tr td a#edit{
    padding: 3px 8px;
    background: #199680;
    color: white;
    border: 1px solid #0a6958;
    border-radius: 3px;
    font-size: 12px;
}
.basic_table table tr td a#delete{
    padding: 3px 8px;
    background: #ce5345;
    color: white;
    border: 1px solid #802d24;
    border-radius: 3px;
    font-size: 12px;
}


/*Custom pagination Links*/
.pagination>li>a{
    color: #e4e4e4;
    text-decoration: none;
    background-color: #ce5345;
    border: 1px solid #98352a;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
background-color: #9a4036;
border: 1px solid #98352a;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover{
background-color: #ce5345;
border: 1px solid #98352a;
color: white;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #f3f3f3;
    background-color: #c1222b;
    border-color: #98352a;
}

#view_page{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: #fafcff;
    border: 1px solid gray;
    border-radius: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.view_page_padding{
    padding: 25px;
    margin-bottom: 18px;
}
#view_page h3.title_three{
    background: linear-gradient(#e6e6e6, #d8d8ec 80%, #bfbfd8);
    color: #272727;
    height: 38px;
    line-height: 36px;
    border-bottom: 1px solid #9090bd;
    border-radius: 3px 3px 0px 0px;
    margin-bottom: 12px;
}
#view_page p{
    font-size: 16px;
    color: #086b08;
}
#view_page p span{
    
}
#view_page h4.title_four{
    margin-top: 22px;
    margin-bottom: 12px;
}
#view_page article{
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    padding: 12px;
    line-height: 22px;
    text-align: justify;
    font-family: Tahoma;
    font-size: 15px;
    background: #e8e8e8;
    color: #1f1f1f;
}
.view_table{
    padding-left: 25px;
    margin-top: 25px;
    margin-bottom: 50px;
}
.view_table table{
    border: 1px solid #bdbdbd;
    border-radius: 3px;
}
.view_table table tr{
    background: linear-gradient(#ecebff 80%, #ffffff);
    line-height: 32px;
    border-bottom: 1px solid #bdbdbd;
}
.view_table table tr th, .view_table table tr td{
    
}
.view_table table tr th{
    min-width: 100px;
    padding-left: 8px;
    font-weight: normal;
}
.view_table table tr td{
    padding-right: 8px;
}
.permission_table{
    padding-left: 25px;
    margin-top: 25px;
    margin-bottom: 50px;
}
.permission_table table{
    border: 1px solid #bdbdbd;
    border-radius: 3px;
}
.permission_table table tr{
    background: linear-gradient(#ecebff 80%, #ffffff);
    line-height: 32px;
    border-bottom: 1px solid #bdbdbd;
}
.permission_table table tr th, .permission_table table tr td{
    
}
.permission_table table tr th{
    text-align: center;
    font-weight: bold;
}
.permission_table table tr td:first-child{
    padding-left: 8px;
    min-width: 120px;
}
.permission_table table tr td:last-child{
    padding-top: 12px;
    padding-right: 12px;
}
#permission_area{
width: 54px;
    height: 18px;
    background: #cccccc;
    border: 3px solid #848484;
    border-radius: 18px;
    cursor: pointer;
    transition: All 0.5s;
    z-index: 1;
    position: relative;
    opacity: 0.5;
}
#permission_area + #permission_switch{
    height: 12px;
    width: 12px;
    background: #4c4c4c;
    border: 1px solid #2d2d2d;
    border-radius: 16px;
    position: relative;
    top: -15px;
    left: 1px;
    transition: All 0.5s;
}
/*#permission_area:hover{
    background: linear-gradient(#37cac5, #288e8b, #3bb5b3);
    border: 3px solid #146f6d;
}
#permission_area:hover #permission_switch{
    background: linear-gradient(#2deae2, #276a71);
    border: 1px solid #117b78;
    left: 35px;
}*/
#permission_area_on{
    width: 54px;
    height: 18px;
    background: linear-gradient(#37cac5, #288e8b, #3bb5b3);
    border: 3px solid #146f6d;
    border-radius: 18px;
    cursor: pointer;
    z-index: 1;
    opacity: 0.8;
    transition: All 0.5s;
}
#permission_area_on + #permission_switch{
    height: 12px;
    width: 12px;
    background: linear-gradient(#2deae2, #276a71);
    border: 1px solid #117b78;
    border-radius: 16px;
    position: relative;
    top: -15px;
    left: 35px;
    transition: All 0.5s;
}

.footer_link{
    margin-bottom: 25px;
    text-align: center;
}
.footer_link a{
    background: #a23f35;
    margin-left: -4px;
    padding: 4px 10px;
    color: white;
    font-size: 12px;
    border-right: 1px solid #50221d;
}
.footer_link a:last-child{
    border-right: none;
}

/*Search Form*/
.search_form{
    background: white;
    border-radius: 2px;
    padding: 16px 18px;
}
.search_form h4.title_four{
    background: linear-gradient(#e4f2ff 20%, #cee5fb, #c8e0f5);
    height: 32px;
    line-height: 32px;
    padding-left: 12px;
    font-family: corbel;
    color: #145e75;
    border: 1px solid #9bb0c3;
    border-radius: 3px;
    margin-bottom: 12px;
}
.search_form form{
    
}
.search_form label{
    display: block;
    margin: 0;
    padding: 0;
    font-family: corbel;
    margin-top: 8px;
}
.search_form input[type="text"]{
    width: 185px;
    height: 24px;
    background: linear-gradient(#d2e8ff, #c8e0f5, #d2e8ff);
    border: 1px solid #96b2ce;
    border-radius: 3px;
    padding-left: 2px;
    font-family: corbel;
}
.search_form span.search_result{
    
}
.search_form span.search_result{
    
}
.search_form span.search_result a{
    
}
.search_form input[type="submit"], .search_form button[type="button"]{
    display: block;
    margin-top: 12px;
    width: 85px;
    line-height: 20px;
    font-family: Tahoma;
    background: linear-gradient(#d0e6fd, #ababab, #c8e0f5);
    border: 1px solid #9bb1c7;
    border-radius: 22px;
    font-size: 14px;
}
#cdata_box, #bdata_box, #pdata_box{
    border: 1px solid #afaeae;
    min-width: 185px;
    position: absolute;
    left: 18px;
    margin-top: 22px;
    z-index: 100;
    background: white;
    display: none;
}
#cdata_box option, #bdata_box option, #pdata_box option{
    cursor: pointer;
    border-bottom: 1px solid #fafafa;
}
#cdata_box option:last-child, #bdata_box option:last-child, #pdata_box option:last-child{
    border-bottom: none;
}

.cdata_result, .bdata_result, .pdata_result{
    display: none;
}

h4.denied{
    
}

/*Stock Table*/
.stock_table{
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.stock_table table{
    width: 100%;
}
.stock_table table thead tr{
    height: 42px;
}
.stock_table table tbody tr{
    height: 32px;
}
.stock_table table tr th, .stock_table table tr td{
    border: 1px solid #afafaf;
}
.stock_table table tr th{
    background: #254d65;
    color: #efefef;
    font-family: corbel;
    text-align: center;
}
.stock_table table tr td{
    background: #f3f3f3;
    padding: 2px;
    font-family: Tahoma;
    text-align: center;
    font-size: 12px;
}
.stock_table table tr td:last-child{
    text-align: center;
}
.stock_table table tr td img{
    width: 60px;
    border: 1px solid gray;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    background: white;
    padding: 3px;
}
.stock_table table tr td a#edit {
    padding: 3px 8px;
    background: #199680;
    color: white;
    border: 1px solid #0a6958;
    border-radius: 3px;
    font-size: 12px;
}
.stock_table table tr td a#delete {
    padding: 3px 8px;
    background: #ce5345;
    color: white;
    border: 1px solid #802d24;
    border-radius: 3px;
    font-size: 12px;
}

/*
Config*/
#config{
    
}
#config ul{
    margin: 0; padding: 0;
    list-style: none;
}
#config ul li{
    
}
#config ul li a{
    
}

/*Stock Report*/
#stock_report, #sell_report{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 2px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 32px;
}
#stock_report h3.title_three, #sell_report h3.title_three{
    
}
#stock_report h3.title_three span, #sell_report h3.title_three span{
    color: #2f7979;
}
#stock_report h3.supplier, #sell_report h3.buyer{
    text-align: left;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 16px;
}
#stock_report .date, #sell_report .date{
        text-align: center;
}
#stock_report table, #sell_report table{
    min-width: 300px;
}
#stock_report table tr, #sell_report table tr{
    
}
#stock_report table tr:nth-child(even), #sell_report table tr:nth-child(even){
    background: #fcfcff;
}
#stock_report table tr:nth-child(odd), #sell_report table tr:nth-child(odd){
    background: #f7fdf7;
}
#stock_report table tr th, #stock_report table tr td, 
#sell_report table tr th, #sell_report table tr td{
    border: 1px solid #e0e0e0;
    padding: 6px 11px;
}
#stock_report table tr th, #sell_report table tr th{
    font-weight: normal;
    color: #3a3394;
}
#stock_report table tr td, #sell_report table tr td{
    text-align: right;
}

/*Print button*/
#print_button{
    text-align: center;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
#print_button a{
    background: linear-gradient(#e4e7ff 85%, #ffffff);
    border: 1px solid #d9dbe6;
    padding: 4px 18px;
    border-radius: 2px;
}

button#check{
    background: linear-gradient(#aed8ec 85%, #bdefef);
    border: 1px solid #515d63;
    font-size: 12px;
    font-family: corbel;
    font-weight: bold;
    line-height: 20px;
    width: 50px;
    position: relative;
    top: -3px;
    border-radius: 3px;
}
#check_products{
    background: linear-gradient(#dce8fa, #bcbfd3, #d1e9f8);
    color: #393939;
    border: 1px solid #605d73;
    border-radius: 18px;
    line-height: 18px;
    padding: 2px 12px;
    position: relative;
    top: -3px;
    font-size: 12px;
    font-family: corbel;
    font-weight: bold;
}
#result{
    font-family: Verdana;
    padding: 0px 8px;
    color: #f0f0f0;
    text-shadow: 1px 1px black;
}
